<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{$lang.login}</title>
</head>
<body>
<form method="post">
Username: <input type="text" name="username" />
<br />
Password: <input type="password" name="password">
<br />
Language: <select name="lang">
<option value="zh-cn">Chinese</option>
<option value="en-us">English</option>
</select>
<br />
<input type="submit" value="Enter">
</form>
</body>
</html>